<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        . . .
      </button>

      <a href="/">
        <img class="logo" src="/images/fredblock.svg" alt="Fred Block logo" />
      </a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-link"> <a href="/portfolio.html">Portfolio</a> </li>
        <li class="nav-link"> <a href="/images/FredBlock_resume.pdf" target="_blank">Resume</a> </li>
        <li class="nav-link"> <a href="/contact.html">Contact</a> </li>
      </ul>
    </div>

  </div>
</nav>
